main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 50px;
  background-image: url("../images/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

main h1 {
  font-size: 6em;
  font-family: "Pacifico", cursive;
  color: rgb(29, 19, 116);
}

main button {
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  background-color: rgb(29, 19, 116);
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}

main p {
  font-size: 2em;
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px 40px;
  font-size: 1.5em;
}

#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
  border: 2px solid black;
  background-image: url(../images/sea-background.png);
  background-size: cover;
}
